import pandas as pd
import numpy as np
from scipy.stats import median_abs_deviation
import matplotlib.pyplot as plt
import seaborn as sns 
import geopandas as gpd
import contextily as ctx


# Dependencias necesarias en R
install.packages("mpspline2")
install.packages("readxl")
install.packages("writexl")
